/* 공통 적용 사항 */
@font-face {
    font-family: Noto;
    src: url(./Noto_Sans_KR/NotoSansKR-Light.otf);
}

@font-face {
    font-family: NotoBold;
    src: url(./Noto_Sans_KR/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: VisualTitleBold;
    src: url(./nanum-square/NanumSquareOTF_acEB.otf);
}

@font-face {
    font-family: VisualTitleLight;
    src: url(./nanum-square/NanumSquareL.otf);
}

@font-face {
    font-family: VisualTitleMedium;
    src: url(./nanum-square/NanumSquareR.otf);
}

@font-face {
    font-family: cute;
    src: url(./Boldie\ Script.otf);
}

@font-face {
    font-family: ProdText;
    src: url(./Oswald/Oswald-Bold.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Noto;
}

/* 마이페이지 시작 */

#main {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

/* 사이드바 */

#sidebar {
    padding-top: 50px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20.5%;
    height: 90%;
    background-color: rgb(252, 252, 252);
}


/* 프로필 영역 */
.tit {
    font-family: VisualTitleBold;
    font-size: 40px;
}

#profile {
    text-align: left;
    width: 280px;
    background-color: white;
    height: 370px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #eee;
    margin-top: 80px;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
    margin-top: 20px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #bb3636;
    text-align: center;
}

.profile-txt {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.userid {
    font-size: 12px;
    color: gray;
}
.phone {
    margin-top: 8px;
}
.email {
    margin-bottom: 10px;
}

.addr {
    font-size: 14px;
}

/* 마이페이지 메인 */
#mypage {
    position: relative;
    height: 725px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin-left: 30%;
}


.main-tit {
    position: absolute;
    left: -10%;
    text-align: left;
    font-family: VisualTitleBold;
    font-size: 100px;
}

.item-list {
    text-align: left;
    width: 400px;
    margin-left: 20px;
}

.order {
    width: 400px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgb(247, 247, 247);
    margin-bottom: 40px;
}

.item-txt {
    padding-left: 30px;
}

.item-tit {
    font-family: NotoBold;
    padding: 15px 0px 8px 30px; /* 상우하좌 */
    font-size: 25px;
}

.item-list-item {
    float: left;
    display: flex;
    align-items: center;
    margin: 10px;
}

.list-img {
    margin-right: 30px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.list-point {
    font-size: 13px;
    color: rgb(187, 187, 187);
}

.mypage-profile {
    display: flex;
    text-align: center;
}

.mypage-circle {
    margin-top: 30px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #bb3636;
}

.mypage-img {
    width: 450px;
    object-fit: cover;
    margin-bottom: 30px;
}

.profile-circle {
    bottom: 10%;
    right: 50%;
    width: 150px;
    object-fit: cover;
    position: absolute;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #bb3636;
    background-color: rgb(255, 255, 255);
}


