/* 공통 적용 사항 */
@font-face {
    font-family: Noto;
    src: url(./Noto_Sans_KR/NotoSansKR-Light.otf);
}

@font-face {
    font-family: NotoBold;
    src: url(./Noto_Sans_KR/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: VisualTitleBold;
    src: url(./nanum-square/NanumSquareOTF_acEB.otf);
}

@font-face {
    font-family: VisualTitleLight;
    src: url(./nanum-square/NanumSquareL.otf);
}

@font-face {
    font-family: VisualTitleMedium;
    src: url(./nanum-square/NanumSquareR.otf);
}

@font-face {
    font-family: cute;
    src: url(./Boldie\ Script.otf);
}

@font-face {
    font-family: ProdText;
    src: url(./Oswald/Oswald-Bold.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: VisualTitleMedium;
}

#main {
    padding-top: 100px;
    width: 100%;
}

.tit {
    font-size: 20px;
    font-family: VisualTitleMedium;
    padding: 15px;
}

.order-wrap {
    width: 55%;
}

.order-main-tit {
    text-align: center;
    height: 100px;
}

.content-inf-sub {
    font-size: 13px;
    color: rgb(126, 126, 126);
}
.text {
    font-size: 13px;
    color: rgb(56, 56, 56);
}

.order-main-tit > .tit {
    font-size: 30px;
}

.content-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.content-item {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #eee;
}

.name {
    width: 700px;
}

.name .content-inf, .ea .gae, .info-price {
    font-family: VisualTitleBold;
}


/* 유저 정보 */
.order-user, .order-post, .order-pay {
    margin-top: 50px;
}

.user-infor, .post-infor {
    text-align: left;
}

.user-table, .post-table {
    padding: 20px;
}

.user-table th, .post-table th {
    height: 30px;
    width: 180px;
}


.user-table td, .post-table td {
    width: 800px;
}

/* 결제 정보 */
.pay-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 200px;
}

.pay-infor .one {
    font-size: 40px;
}

.pay-infor .two {
    color: rgb(88, 88, 88);
}

.goods, .postsell, .all-sell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}