/* 공통 적용 사항 */
@font-face {
    font-family: Noto;
    src: url(./Noto_Sans_KR/NotoSansKR-Light.otf);
}

@font-face {
    font-family: NotoBold;
    src: url(./Noto_Sans_KR/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: VisualTitleBold;
    src: url(./nanum-square/NanumSquareOTF_acEB.otf);
}

@font-face {
    font-family: VisualTitleLight;
    src: url(./nanum-square/NanumSquareL.otf);
}

@font-face {
    font-family: VisualTitleMedium;
    src: url(./nanum-square/NanumSquareR.otf);
}

@font-face {
    font-family: cute;
    src: url(./Boldie\ Script.otf);
}

@font-face {
    font-family: ProdText;
    src: url(./Oswald/Oswald-Bold.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: VisualTitleMedium;
}

#main {
    padding-top: 100px;
    width: 100%;
}

.tit {
    font-size: 20px;
    font-family: VisualTitleMedium;
    padding: 15px;
}

.order-wrap {
    width: 55%;
}

.order-main-tit {
    text-align: center;
    height: 100px;
}

.content-inf-sub {
    font-size: 13px;
    color: rgb(126, 126, 126);
}
.text {
    font-size: 13px;
    color: rgb(56, 56, 56);
}

.order-main-tit > .tit {
    font-size: 30px;
}

.content-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.content-item {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #eee;
}

.order-name-fr {
    width: 700px;
}

.name {
    width: 700px;
    text-align: left;
    padding-left: 40px;
}

.name .content-inf, .ea .gae, .info-price, .one2 {
    font-family: VisualTitleBold;
}
/* 오더 오케이 .... */
#orderOk {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 700px;
    height: 600px;
    border-radius: 50px;
    border: 1px solid #eee;
}

.order-infor .content-img {
	border-radius: 10px;
}

.orderOk-tit {
    margin: 50px;
}

.orderOk-tit .tit {
    font-size: 35px;
}

.orderOk-wrap {
    text-align: center;
}

.orderOk-table th {
    text-align: center;
    width: 250px;
    height: 50px;
}

.orderOk-table td {
    text-align: left;
    width: 600px;
}

.order-name-ba, .orderId-ba, .amount-ba {
    padding-left: 40px;
}


/* 유저 정보 */
.order-user, .order-post, .order-pay {
    margin-top: 50px;
}

.user-infor, .post-infor {
    text-align: left;
}

.user-table, .post-table {
    padding: 20px;
}

.user-table th, .post-table th {
    height: 30px;
    width: 180px;
}


.user-table td, .post-table td {
    width: 800px;
}

/* 결제 정보 */
.pay-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 200px;
}

.pay-infor .one {
    font-size: 40px;
}

.pay-infor .two {
    color: rgb(88, 88, 88);
}

.goods, .postsell, .all-sell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment {
	width: 20%;
	height: 200px
}

#payment-button {
	background-color: #bb3636;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	border: none;
	color: white;
}


.success-animation { margin: 50px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}









