/* 공통 적용 사항 */

/* 포인트 주고 싶은 타이틀에는 VisualTitle~ 쓰고
평소에는 Noto 사용 */
@font-face {
    font-family: Noto;
    src: url(./Noto_Sans_KR/NotoSansKR-Light.otf);
}

@font-face {
    font-family: NotoBold;
    src: url(./Noto_Sans_KR/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: VisualTitleBold;
    src: url(./nanum-square/NanumSquareOTF_acEB.otf);
}

@font-face {
    font-family: VisualTitleLight;
    src: url(./nanum-square/NanumSquareL.otf);
}

@font-face {
    font-family: VisualTitleMedium;
    src: url(./nanum-square/NanumSquareR.otf);
}

@font-face {
    font-family: cute;
    src: url(./Boldie\ Script.otf);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Noto;
    font-size: 15px;
}

/* 로그인 영역 시작 */
#login {
    font-family: VisualTitleLight;
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    padding-top: 18%;
}
.login-wrap {
    display: flex;
    justify-content: center;
    width: 75%;
}

.log-tit {
    font-family: VisualTitleBold;
    font-size: 70px;
    margin-bottom: 30px;
}
.sign-txt {
    font-family: VisualTitleBold;
    font-size: 20px;
    color: #bb3636;
    margin-left: 10px;
}

#login-form input {
    border-radius: 20px;
    border: none;
    background-color: rgb(252, 244, 244);
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 18px;
    font-size: 14px;
}

#login-form .log-form .forget {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: right;
    position: absolute;
    bottom: 0%;
    right: 0;
}

#login-form .sign-btn {
    background-color: #bb3636;
    color: rgb(240, 234, 227);
    font-family: VisualTitleBold;
}

.log-sub-tit {
    font-family: VisualTitleMedium;
}

#login-form .log-form, .user-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.user-form {
    margin-bottom: 20px;
}
/* 로그인 영역 끝 */

/* 회원가입 영역 시작 */

/* 회원가입 영역 끝 */


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container {
    filter: blur(50%);
    position: absolute;
    z-index: -1000;
    background: linear-gradient(-45deg, #FFD8D8, #bb3636c7, #7bcdeb, #f1e198);
    /*  background: linear-gradient(-45deg, #b3e7bc8f, #ffd8d880, #7bcdeb79, #f1e19881); */
    background-size: 400% 400%;
    animation: AnimationName 15s ease infinite;
    width: 75%;
    height: 100%;
    top: 30%;
    border-radius: 50px;
}



/* 회원가입 */
.star {
    padding-left: 2px;
    color: #bb3636;
}

#signup {
    padding-top: 100px;
    position: relative;
}

.signup-title {
    text-align: center;
}

.tit {
    font-size: 40px;
    font-family: NotoBold;
    padding: 30px;
}
.sub-tit {
    text-align: right;
    padding-bottom: 20px;
}

hr {
    border: 2px solid black;
    margin-bottom: 20px;
}

.signup-wrap {
    width: 38%;
}

.thead {
    width: 180px;
    text-align: left;
}

#signup .tinput input {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 5px 15px 5px 15px ; /* 상우하좌 */
}

#signup .tinput .birth-input {
    border: none;
    width: 150px;
}

#signup .signup-table tr {
    width: 640px;
    height: 65px;
}

#signup .userAddr .tinput .addr-number, .addr-btn {
    width: 170px;
}

.addr-btn {
    height: 45px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #bb3636;
    color: rgb(255, 255, 255);
    border: none;
}

.ok-btn {
    width: 150px;
    height: 45px;
    background-color: #bb3636;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

#signup .signup-table .agree {
    height: 15px;
}

.agree-txt {
    font-family: NotoBold;
    font-size: 20px;
}

.agree-sub {
    font-size: 13px;
    color: #999;
    margin-top: 5px;
    margin-left: 30px;
}

.agree input {
    margin: 7px;
}

.agree td {
    height: 20px;
    margin: 0 auto;
}

.allok {
    padding: 50px 0 10px;
}

.birth .tinput {
    border: 1px solid #999;
    border-radius: 5px;
}

.addrDetail {
    margin: 0 0 10px 0;
}

.join-btn-wrap {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.go-join {
    width: 350px;
    height: 60px;
    background-color: #bb3636;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin: 50px;
    font-size: 18px;
}